version: "3.8"

services:
  blockchain:
    image: node:22-alpine
    working_dir: /app
    volumes:
      - .:/app
    command: npx hardhat node
    ports:
      - "8545:8545"

  deployer:
    build:
      context: .
      dockerfile: docker/Dockerfile
    depends_on:
      - blockchain
    environment:
      - HARDHAT_NETWORK=localhost
    volumes:
      - .:/app
